html,
body {
  padding: 0;
  margin: 0;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek,
  CircularSp-Deva, Segoe UI, Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}